ion-content{
    background-image: url('https://images.unsplash.com/photo-1507133750040-4a8f57021571?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2143975001aacad9d14bb5c5160d725b&auto=format&fit=crop&w=500&q=60');
}

p {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  padding: 1%;
}

h4 {
  text-align: center;
  color: white;
}

label, input, select, textarea {
  width: 250px;
  height: 50px;
  font-size: 17px;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 30%;
}

input {
  padding-bottom: 8%;
}

.list {
  padding-left: 13%;
}

.button-block {
  height: 10%;
  font-size: 25px;
}
